body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 300px;
    background: wheat;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: gold;
    border-radius: 20%;

}

#count {
    font-weight: bold;
    color: red;
}
